@use '../../../styles' as *;

.search-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .flex-item {
    flex: 0 1 520px;
  }
  @media (max-width: 768px) {
    .flex-item {
      flex: 1 1 100%;
    }
  }
}

.content-header {
  display: flex;
  justify-content: space-between;
}

.back-button {
  background-color: $color-light-blue;
  color: $color-medium-blue;
}

.logout-button {
  background-color: $color-dark-blue;
  color: white;
}