<app-body>
    <app-header></app-header>
    <app-content>
        <h1>About the Program</h1>
        <h3>Explanation of the method to detect a speed violation</h3>
        <p>The automated vehicle identification systems comprising Colorado’s Speed Safety Camera Program consist of two devices at a predetermined distance from each other. Each device takes a photo of a vehicle and an associated timestamp. Data integrity is safeguarded through synchronization several times per hour with nist.time.gov.</p>
        <h4>THE FORMULA</h4>
        <h4>EXAMPLE</h4>
    </app-content>
    <app-footer></app-footer>
</app-body>