<div class="footer">
    <div class="footer-message">
        For Customer Service call (800) 123-4567
    </div>
    <div class="footer-buttons">
        <button class="footer-button">
            2025 Cdot
        </button>
        |
        <button class="footer-button">
            Terms of Service
        </button>
        |
        <button class="footer-button">
            Privacy Policy
        </button>
        |
        <button class="footer-button">
            Accessibility
        </button>
    </div>
</div>
