
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

// Font Weights
$font-thin: 100;
$font-extra-light: 200;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;
$font-black: 900;

// Colors
$color-dark-gray: #252424;
$color-light-blue: #F4F5FA;
$color-medium-blue: #48506F;
$color-dark-blue: #222B49;

html {
  min-height: 100vh;
  background-color: $color-light-blue;
  background-image: url('./assets/Background.svg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  font-weight: $font-regular;
  color: $color-dark-gray;
}

button {
  cursor: pointer;
  font-family: "Work Sans", sans-serif;
  font-weight: $font-semi-bold;
  border-radius: 30px;
  border: none;
  padding: 8px 17px;
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.checkbox-overrides((
          selected-icon-color: $color-medium-blue,
          selected-focus-icon-color: $color-medium-blue,
          selected-hover-icon-color: $color-medium-blue,
          selected-checkmark-color: white,
          unselected-icon-color: $color-medium-blue,
          unselected-focus-icon-color: $color-medium-blue,
          unselected-hover-icon-color: $color-medium-blue,
  ));
}

h1 {
  font-size: 36px;
  font-weight: $font-semi-bold;
  margin: 0;
}