
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

// Font Weights
$font-thin: 100;
$font-extra-light: 200;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;
$font-black: 900;

// Colors
$color-dark-gray: #252424;
$color-dark-blue: #222B49;

html {
  min-height: 100vh;
  background-color: #F4F5FA;
  background-image: url('./assets/Background.svg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  font-weight: $font-regular;
  color: $color-dark-gray;
}

button {
  cursor: pointer;
  font-family: "Work Sans", sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: $font-semi-bold;
  margin: 0;
}