<div class="search-box">
    <h2>See notice of Speed Violation</h2>
    <hr>
    <form (ngSubmit)="searchViolations()">
        <div class="form-group">
            <label for="violationNumber">Notice Number*</label><br>
            <input
                    type="text"
                    id="violationNumber"
                    class="form-control"
                    [(ngModel)]="violationNumber"
                    name="violationNumber"
                    required
            />
        </div>

        <div class="form-group">
            <label for="state">State</label><br>
            <input
                    type="text"
                    id="state"
                    class="form-control"
                    [(ngModel)]="state"
                    name="state"
                    required
            />
        </div>

        <div class="form-group">
            <label for="licensePlate">License Plate</label><br>
            <input
                    type="text"
                    id="licensePlate"
                    class="form-control"
                    [(ngModel)]="licensePlate"
                    name="licensePlate"
                    required
            />
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
        <hr>
        <p>You don't have the notice number?</p>
        <button>Search by License Plate -></button>
    </form>
</div>